@charset "UTF_8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-image: linear-gradient(to bottom, rgb(50, 50, 50), gray);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 260px;
    height: 515px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.545);
    transition: width .5s, height .5s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background-image: url(../imagens/predio.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    display: block;
    background-color: gray;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: gray;
    font-size: 1em;
    width: calc(100% - 44);
    height: 100%;
    border-radius: 8px;
    border: 0px;
    padding: 4px;
    transform: translateY(-10.5px);   
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 30px;
}

form > input[type=submit]:hover {
    background-color: rgb(50, 50, 50);
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding-top: 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
    text-decoration: none;
    color: black;
}

form > a.botao:hover {
    background-color: rgb(179, 178, 178);
    color: white;
}

form > a.botao > span {
    font-size: 0.8em;
}